/*
    GALLERY
*/

.gallery {
    margin: 0 auto;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 99%;
}

.row {
    margin-bottom: 6px;
    overflow: auto;
}

.row img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 100px;
    padding: 0 3px 0 3px;
    width: auto;
}

.row img:first-child {
    padding-left: 0;
}

.row img:last-child {
    padding-right: 0;
}

/*
    LIGHTBOX
*/

.focus {
    background: rgba(17,18,21,0.8);
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.focus a {
    color: #fff;
    display: table-cell;
    font-family: 'Classic Console', 'Source Code Pro', 'Courier New', Courier, 
        monospace;
    font-size: 6em;
    text-decoration: none;
    vertical-align: middle;
}
/*
.focus a:hover {
    background: rgba(35,37,41,0.8);
}
*/
.focus img {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    max-width: 80%;
}

.focus p {
    display: table;
    width: 100%;
}

.focus-0,
.focus-1,
.focus-2 {
    float: left;
    overflow: hidden;
}

.focus-0,
.focus-2 {
    width: 15%;
}

.focus-1 {
    width: 70%;
}
