@import url('reset.css');
@import url('fonts.css');
@import url('globals.css');

/*
    CONTAINERS
    Dimensions for the three top containers and their interiors.
*/

html,
body {
    background: #343537;
}

#site-container {
    background: rgba(255,255,255,0.2);
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 80%;
}

#content-container {
    overflow: auto;
}

#content-col-0 {
    background: rgba(255,255,255,0.1);
    float: left;
    width: 80%;
}

#content-col-1 {
    background: rgba(255,255,255,0.3);
    margin: 0 auto;
    float: right;
    width: 20%;
}

#content-0,
#content-1 {
    margin: 0 auto;
    padding: 10px 0 10px 0;
    width: 95%;
}

#content-0 img {
    max-width: 100%;
    height: auto;
}

/*
    CONTAINER MOBILE VIEW

*/
@media (max-width:1024px) {
    #site-container {
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
    }

    #content-col-0,
    #content-col-1 {
        float: none;
        width: 100%;
    }
}

/*
    SITE HEADER
    CSS for he header banner, fonts, the like.
*/

header {
    background: url('img/trainyard.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}

header h1 {
    color: #fff;
    font-family: 'Classic Console', 'Source Code Pro', ssp, sans-serif, 'Trebuchet MS', Helvetica;
    font-size: 4.0em;
    text-align: center;
    text-transform: uppercase;
}

header h5 {
    color: #fff;
    font-size: 2.0em;
    font-family: 'Classic Console', 'Source Code Pro', ssp, sans-serif, 'Trebuchet MS', Helvetica;
    font-style: italic;
    text-align: center;
}

#header-screen {
    /* Mask over header image. */
    background: rgba(0,0,0,0.5);
    width: 100%;
}

/*
    MOBILE HEADER RULES
*/

@media (max-width:1024px) {    
    header {
        width: 100%;
    }

    header h1 {
        font-size: 2.9em;
    }

    header h5 {
        font-size: 1.8em;
    }
}

/*
    WEBSITE SEARCH
    Site-wide search in the sidebar.
*/

#sidebbar-search {
    margin-bottom: 10px;
}

#sidebar-search p {
    overflow: auto;
    position: relative;
}

#sidebar-search input[name=search-input] {
    border: none;
    font-family: 'Classic Console', 'Source Code Pro', scp, 'Courier New', Courier, monospace;
    font-size: 1.5em;
    height: 30px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 0 6px;
    position: relative;
    vertical-align: top;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#sidebar-search input[id=search-submit] {
    background: #4284fd url('img/chevron_15_right.png') no-repeat center center;
    border: none;
    border-radius: 0;
    display: block;
    height: 22px;
    margin-left: 87%;
    margin-top: -30.5px;
    position: relative;
    width: 25px;
    /* THIS. IS. SPARTA. */
    z-index: 300;
    -webkit-appearance: none; 
    -webkit-border-radius: 0;
}

#sidebar input[id=search-submit]:hover {
    background-color: #ba3434;
    outline: 0;
}

#sidebar select {
    font-family: 'Source Code Pro', scp, 'Courier New', Courier, monospace;
    margin-top: 5px;
    width: 100%;
}

/*
    ARTICLES
*/

.post-title h1 {
    vertical-align: text-top;
}

article blockquote,
article ol,
article ul {
    padding-left: 15px;
}

article pre {
    background: #000;
    color: #b5e853;
    font-family: 'Classic Console';
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 0.85em;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    /* Prevent padding making div bigger. */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
    ARTICLE
*/

@media (max-width:1024px) {
    article pre {
        font-size: 0.9em;
    }
}

/*
    SITE FOOTER
*/

footer {
    clear: both;
    margin: 0 auto;
    width: 100%;
}

footer p {
    font-family: 'Classic Console', 'Source Code Pro', scp, 'Courier New', Courier, monospace;
    font-size: 1.2em;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    text-align: center;
}

/*
    SIDEBAR SOCIAL ICONS
*/

#sidebar-social {
    list-style: none;
    margin: 0 0 10px 0;
    text-align: center;
    width: 100%;
}

#sidebar-social li {
    display: inline;
}

#sidebar-social a {
    border-radius: 50%;
    display: inline-block;
    width: 22.5%;
}

#sidebar-social a:hover {
    border: none !important;
}

.facebook { background: #9fa5b1 url('img/facebook_logo.png') no-repeat center center; background-size: 60px 60px; }
.facebook:hover { background-color: #3B5998; }
.github { background: #9fa5b1 url('img/github_logo.png') no-repeat center center; background-size: 60px 60px; }
.github:hover { background-color: #fd4242; }
.instagram { background: #9fa5b1 url('img/instagram_logo.png') no-repeat center center; background-size: 60px 60px; }
.instagram:hover { background-color: #3f729b; }
.twitter { background: #9fa5b1 url('img/twitter_logo.png') no-repeat center center; background-size: 60px 60px; }
.twitter:hover { background-color: #00aced; }
