/* 
 * RESET 
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    color: inherit;
    font-size: 100%;
    font: inherit;
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, 
        Lucida Sans Unicode, Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}

/*
 * EB FONTS
 */

@font-face {
    /* 
        Name: Source Code Pro Regular
        Creator: Adobe Systems
        URL: http://sourceforge.net/projects/sourcecodepro.adobe/
        License: SIL Open Font License 1.1
    */
    font-family: 'Source Code Pro Regular';
    src: 
        url('fonts/din/scp-r.eot?') format('embedded-opentype'),
        url('fonts/din/scp-r.woff') format('woff'),
        url('fonts/din/scp-r.otf')  format('opentype'),
        url('fonts/din/scp-r.ttf')  format('truetype'),
        url('fonts/din/scp-r.svg')  format('svg');
}

@font-face {
    /* 
        Name: Source Sans Pro Regular
        Creator: Adobe Systems
        URL: http://sourceforge.net/projects/sourcesans.adobe/
        License: SIL Open Font License 1.1
    */
    font-family: 'Source Sans Pro Regular';
    src: 
        url('fonts/ssp/scp-r.eot?')  format('embedded-opentype'),
        url('fonts/ssp/clacon.woff') format('woff'),
        url('fonts/ssp/clacon.otf')  format('opentype'),
        url('fonts/ssp/clacon.ttf')  format('truetype'),
        url('fonts/ssp/clacon.svg')  format('svg');
}

@font-face {
    /* 
        Name: Classic Console
        Creator: Webdraft Ltd.
        URL: http://webdraft.hu/fonts/classic-console/
        License: Free to doownload, use, and redistribute.
    */
    font-family: 'Classic Console';
    src: 
        url('fonts/clacon/clacon.eot?') format('embedded-opentype'),
        url('fonts/clacon/clacon.woff') format('woff'),
        url('fonts/clacon/clacon.otf')  format('opentype'),
        url('fonts/clacon/clacon.ttf')  format('truetype'),
        url('fonts/clacon/clacon.svg')  format('svg');
}

/*
 * TEXT ALIGNMENT AND FONTS
 * Site-wide defaults for inline and block text elements. 
 * Some elements are individually overridden elsewhere.
 */

a { 
    text-decoration: underline;
}

a:hover {
    color: #b3b3b3;
}

a,
del,
em,
span,
strong,
sub,
sup,
time {
    font-family: inherit;
    font-size: inherit;
}

blockquote {
    /* IE fallback. */
    border-left: #fff;
    border-left: 1px solid rgba(255,255,255,0.6);
}

code,
blockquote,
input,
li,
option,
p,
pre,
select {
    color: #fff;
    font-family: 'Source Sans Pro', 'Source Sans Pro Regular', sans-serif,
        'Trebuchet MS', Helvetica;
    font-size: 0.82em;
    line-height: 1.3em;
    margin-bottom: 10px;
    text-align: left;
}

code,
pre {
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono',
        'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased;
}

em {
    text-decoration: line-through;
}

hr { 
    background: #fff;
    height: 2px;
    width: 100%;
}

li { 
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border-bottom: 2px solid #fff;
    color: #fff;
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono',
        'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
    margin-bottom: 5px;
    padding-bottom: 2px;
    text-align: left;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

html,
body {
    background: #111215;
}

input {
    color: #343537;
}

ol, ul { 
    margin-bottom: 10px;
}

option {
    background: #fff;
    color: #000;
}

pre {
    margin-bottom: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

select {
    background: #fff;
    color: #000;
    width: 100%;
}

strong { 
    font-style: italic;
}

sub, 
sup {
    font-size: 75%;
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

/*
 * MOBILE GLOBAL SETTINGS
 */

@media screen and (max-width: 1024px) {
    h1 { font-size: 2.0em; }
    h2 { font-size: 1.8em; }
    h3 { font-size: 1.6em; }
    h4 { font-size: 1.4em; }
    h5 { font-size: 1.1em; }
    h6 { font-size: 0.9em; }
}

/*
 * CONTAINERS
 * Dimensions for the three top containers and their interiors.
 */

.site-container {
    background: #343537;
    border-radius: 1px;
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
    margin: 1px auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 80%;
}

.content-container {
    background: #232529;
    overflow: hidden;
}

.content-left-container {
    float: left;
    margin-top: -20px;
    width: 79%;
}

.content-right-container {
    float: right;
    margin: 0 auto;
    margin-top: 20px;
    width: 20%;
}

.content-left,
.content-right {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 95%;
}

.content-left {
    /* Stop horizontal scrolling behaviour. */
    min-height: 450px;
}

/*
 * CONTAINER MOBILE VIEW
 */

@media screen and (max-width: 1024px) {
    /* At smaller screen sizes, the two containers are stacked. */ 
    .site-container {
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
    }

    .content-left-container,
    .content-right-container {
        float: none;
        width: 100%;
    }
}

/*
 * SITE HEADER
 */

/* 
 * The header image can be easily set or changed, and it sizes itself to the
 * header. Recommend at *least* a 1600x1200 image.
 */

header {
    background: url('img/header/docks.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}

.title {
    font-family: 'Classic Console', 'Source Code Pro', 'Courier New', Courier,
        monospace;
    font-size: 4.0em;
    text-align: center;
    text-transform: uppercase;
}

.title a {
    text-decoration: none;
}

.blurb {
    font-size: 2.0em;
    font-family: 'Classic Console', 'Source Code Pro', 'Courier New', Courier,
        monospace;
    font-style: italic;
    margin-bottom: 5px;
    text-align: center;
}

/* 
 * Mask over header image, with IE fallback.
 */

.header-screen {
    background: #000;
    background: rgba(0,0,0,0.5);
    width: 100%;
}

.blurb,
.title {
    border-bottom: none;
}

/*
 * MOBILE HEADER RULES
 */

@media screen and (max-width:1024px) {    
    header {
        width: 100%;
    }
}

/*
 * WEBSITE SIDEBAR
 */

.content-right li {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    list-style-type: none;
    text-align: left;
}

/*
 * ARTICLES
 */

.post-title {
    border-bottom: none;
    margin-bottom: 0;
}

.post-title a {
    text-decoration: none;
    vertical-align: text-top;
}

.post-info {
    line-height: 1em;
}

article {
    margin-top: 25px;
}

article img {
    height: auto;
    max-width: 100%;
}

article blockquote,
article ol,
article ul {
    padding-left: 15px;
}

article pre {
    background: #0a0d17;
    color: #b5e853;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article ul li {
    list-style-type: square;
}

/*
 * ARTICLE MOBILE
 */

@media screen and (max-width: 1024px) {
    article pre {
        font-size: 0.7em;
    }
}

/*
 * ARTICLE AND SIDEBAR FORMS
 */

.content-left form p {
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono',
        'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
}

.content-left input[type="radio"],
.content-left input[type="checkbox"] {
    background: none;
    vertical-align: middle;
}

.content-left input {
    background: #fff;
    border: none;
    border-radius: 0;
    height: 1.6em;
    margin-bottom: 3px;
    position: relative;
    vertical-align: text-top;
}

.content-left input[type="submit"] {
    background: #b3b3b3;
    font-size: 1.0em;
    height: 22px;
    text-align: center;
    width: 20%;
}

.content-left input[type="submit"]:hover {
    background: #b3b3b3;
}

.content-left input[type="text"],
.content-left input[type="password"] {
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono',
        'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
    height: 30px;
    padding: 0 0 0 6px;
    width: 150px; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-left textarea {
    margin-bottom: 5px;
    padding: 0 0 0 6px;
    width: 100%;
}

/*
 * SIDEBAR FORM / SEARCH
 */

.sidebar-search {
    overflow: auto;
}

input[class="search-input"] {
    border: none;
    height: 35px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 0 6px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[class="search-submit"] {
    border: none;
    border-radius: 0;
    display: block;
    float: right;
    height: 25px;
    margin-top: -30.5px;
    margin-right: 6px;
    position: relative;
    width: 25px;
    text-align: center;
    z-index: 0;
}

input[class="search-submit"]:hover {
    background: #b3b3b3;
}

/* 
 * Removes corner rounding in iOS.
 */
.sidebar-search input, 
.sidebar-search textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono',
        'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
}

/*
    INTRA-SITE NAVIGATION
*/

.site-nav {
    margin: 0 auto;
    margin-left: auto;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 110px;   
}

.site-nav a {
    display: block;
    height: 100%;
    text-decoration: none;
}

.site-nav a:hover {
    color: #000;
}

.site-nav p {
    font-family: 'Classic Console', 'Source Code Pro', 'Courier New', Courier, 
        monospace;
    font-size: 3em;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.site-nav p:hover {
    background: #fff;
}

.site-nav-interior {
    margin: 0 auto;
    overflow: auto;
}

.site-nav-left {
    float: left;
}

.site-nav-right {
    float: right;
}

/*
    SITE FOOTER
*/

footer {
    background: #232529;
    clear: both;
    margin: 0 auto;
    width: 80%;
}

footer p {
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono', 
        'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    text-align: center;
}

/*
    FOOTER MOBILE
*/

@media screen and (max-width: 1024px) {
    footer {
        display: none;
    }
}

/*
    SOCIAL ICONS
*/

.social {
    list-style: none;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 350px;
    text-align: center;
}

.social li {
    display: inline;
    text-align: center;
}

.social a,
.social a:hover {
    transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out; 
    -o-transition: background-color .3s ease-in-out; 
}

.social a {
    border-radius: 50%;
    display: inline-block;
    width: 20%;
}

.social a:hover {
    border: none;
}

#emails     { background: url('img/social/email.png')     no-repeat center center; background-size: 100% auto; }
#facebook   { background: url('img/social/facebook.png')  no-repeat center center; background-size: 100% auto; }
#flickr     { background: url('img/social/flickr.png')    no-repeat center center; background-size: 100% auto; }
#github     { background: url('img/social/github.png')    no-repeat center center; background-size: 100% auto; }
#google     { background: url('img/social/google.png')    no-repeat center center; background-size: 100% auto; }
#instagram  { background: url('img/social/instagram.png') no-repeat center center; background-size: 100% auto; }
#linkedin   { background: url('img/social/linkedin.png')  no-repeat center center; background-size: 100% auto; }
#pinterest  { background: url('img/social/pinterest.png') no-repeat center center; background-size: 100% auto; }
#rss        { background: url('img/social/rss.png')       no-repeat center center; background-size: 100% auto; }
#twitter    { background: url('img/social/twitter.png')   no-repeat center center; background-size: 100% auto; }
#tumblr     { background: url('img/social/tumblr.png')    no-repeat center center; background-size: 100% auto; }

#emails:hover     { background-color: #ec4724; }
#facebook:hover   { background-color: #3b5998; }
#flickr:hover     { background-color: #0063db; }
#github:hover     { background-color: #171516; }
#google:hover     { background-color: #db5442; }
#instagram:hover  { background-color: #3f729b; }
#linkedin:hover   { background-color: #0274b3; }
#pinterest:hover  { background-color: #cb2027; }
#rss:hover        { background-color: #ff6600; }
#twitter:hover    { background-color: #00aced; }
#tumblr:hover     { background-color: #3d5a70; }
