@import url('social.css'); 

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    color: inherit;
    font-size: 100%;
    font: inherit;
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}

/*
    WEB FONTS
*/

@font-face {
    /*
        Name: Bebas Neue
        Creator: Dharma Type
        URL: http://dharmatype.com/dharma-type/bebas-neue.html 
        License: SIL Open Font License 1.1
    */ 
    font-family: 'Bebas Neue';
    src: 
        url('fonts/bebas/bebas.eot') format('embedded-opentype');
    src: 
        url('fonts/bebas/bebas.woff') format('woff'),
        url('fonts/bebas/bebas.ttf') format('truetype'),
        url('fonts/bebas/bebas.svg') format('svg');
}

@font-face {
    /*
        Name: Verily Serif Mono
        Creator: Stephen G. Hartke
        URL: http://www.fontsquirrel.com/fonts/Verily-Serif-Mono 
        License: Vera License SIL Open Font License 1.1
    */ 
    font-family: 'Verily Serif Mono';
    src: 
        url('fonts/verilyserifmono/verilyserifmono.eot') format('embedded-opentype');
    src: 
        url('fonts/verilyserifmono/verilyserifmono.woff') format('woff'),
        url('fonts/verilyserifmono/verilyserifmono.ttf') format('truetype'),
        url('fonts/verilyserifmono/verilyserifmono.svg') format('svg');
}

@font-face {
    /* 
        Name: Source Code Pro Regular
        Creator: Adobe Systems
        URL: http://sourceforge.net/projects/sourcecodepro.adobe/
        License: SIL Open Font License 1.1
    */
    font-family: 'Source Code Pro Regular';
    src: 
        url('fonts/din/scp-r.eot') format('embedded-opentype');
    src:
        url('fonts/din/scp-r.woff') format('woff'),
        url('fonts/din/scp-r.otf') format('opentype'),
        url('fonts/din/scp-r.ttf') format('truetype'),
        url('fonts/din/scp-r.svg') format('svg');
}

@font-face {
    /* 
        Name: Source Sans Pro Regular
        Creator: Adobe Systems
        URL: http://sourceforge.net/projects/sourcesans.adobe/
        License: SIL Open Font License 1.1
    */
    font-family: 'Source Sans Pro Regular';
    src: 
        url('fonts/ssp/scp-r.eot') format('embedded-opentype');;
    src:
        url('fonts/ssp/clacon.woff') format('woff'),
        url('fonts/ssp/clacon.otf') format('opentype'),
        url('fonts/ssp/clacon.ttf') format('truetype'),
        url('fonts/ssp/clacon.svg') format('svg');
}

@font-face {
    /* 
        Name: Classic Console
        Creator: Webdraft Ltd.
        URL: http://webdraft.hu/fonts/classic-console/
        License: Free to doownload, use, and redistribute.
    */
    font-family: 'Classic Console';
    src: 
        url('fonts/clacon/clacon.eot') format('embedded-opentype');;
    src:
        url('fonts/clacon/clacon.woff') format('woff'),
        url('fonts/clacon/clacon.otf') format('opentype'),
        url('fonts/clacon/clacon.ttf') format('truetype'),
        url('fonts/clacon/clacon.svg') format('svg');
}

/*
    TEXT ALIGNMENT AND FONTS
    Site-wide defaults for inline and block text elements. 
    Some elements are individually overridden elsewhere.
*/

a { 
    text-decoration: underline;
}

a:hover {
    color: #b3b3b3;
}

a,
del,
em,
span,
strong,
sub,
sup,
time {
    font-family: inherit;
    font-size: inherit;
}

blockquote {
    border-left: 1px solid rgba(255,255,255,0.6);
}

blockquote,
input,
li,
option,
p,
select {
    color: #fff;
    font-family: 'Source Sans Pro', 'Source Sans Pro Regular', sans-serif, 'Trebuchet MS', Helvetica;
    font-size: 0.82em;
    line-height: 1.3em;
    margin-bottom: 10px;
    text-align: left;
}

code,
pre {
    color: #fff;
    line-height: 1.3em;
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono', 'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
    font-size: 0.81em;
    line-height: 1.3em;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased !important;
}

em {
    text-decoration: line-through;
}

hr { 
    background: #fff;
    height: 2px;
    width: 100%;
}

li { 
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono', 'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
    margin-bottom: 5px;
    text-align: left;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

html,
body {
    background: #111215;
}

object {
    outline: 0;
}

ol, ul { 
    margin-bottom: 10px;
}

option {
    background: #fff;
    color: #000;
}

pre {
    margin-bottom: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

select {
    background: #fff;
    color: #000;
    width: 100%;
}

strong { 
    font-style: italic;
}

sub {
    font-size: 75%;
    vertical-align: sub;
}

input {
    color: #343537;
}

sup {
    font-size: 75%;
    vertical-align: super;
}

/*
    MOBILE GLOBAL SETTINGS
*/
@media screen and (max-width:1025px) {
    h1 { font-size: 2.0em; }
    h2 { font-size: 1.8em; }
    h3 { font-size: 1.6em; }
    h4 { font-size: 1.4em; }
    h5 { font-size: 1.1em; }
    h6 { font-size: 0.9em; }
}

/*
    CONTAINERS
    Dimensions for the three top containers and their interiors.
*/

#site-container {
    background: #343537;
    border-radius: 1px;
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
    margin: 1px auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 80%;
}

#content-container {
    background: #232529;
    overflow: auto;
}

#content-col-0 {
    float: left;
    margin-top: -20px;
    width: 79%;
}

#content-col-1 {
    /*background: # 232529;*/
    float: right;

    margin: 0 auto;
    margin-top: 20px;
    width: 20%;
}

#content-0,
#content-1 {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 95%;
}

#content-0 img {
    max-width: 100%;
    height: auto;
}

#content-1 {
    /*background: #343537;*/
}

/*
    CONTAINER MOBILE VIEW
*/

@media (max-width:1024px) {
    #site-container {
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
    }

    #content-col-0,
    #content-col-1 {
        float: none;
        width: 100%;
    }
}

/*
    SITE HEADER
    CSS for he header banner, fonts, the like.
*/

header {
    background: url('img/header/trainyard.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}

header h1 {
    color: #fff;
    font-family: 'Classic Console', 'Source Code Pro', 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 4.0em;
    text-align: center;
    text-transform: uppercase;
}

header h5 {
    color: #fff;
    font-size: 2.0em;
    font-family: 'Classic Console', 'Source Code Pro', 'Courier New', Courier, monospace;
    font-style: italic;
    margin-bottom: 5px;
    text-align: center;
}

#header-screen {
    /* Mask over header image. */
    background: rgba(0,0,0,0.5);
    width: 100%;
}

/*
    MOBILE HEADER RULES
*/

@media (max-width:1024px) {    
    header {
        width: 100%;
    }

    header h1 {
        font-size: 2.9em;
    }

    header h5 {
        font-size: 1.8em;
    }
}

/*
    WEBSITE SIDEBAR
*/

/* H1, H2, and H3 are all too large to use here. */
#content-1 h4,
#content-1 h5,
#content-1 h6 {
    border-bottom: 2px solid #fff;
}

#content-1 li {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    font-size: 1em;
    list-style-type: none;
    text-align: left;
}

/*
    ARTICLES
*/

.post-title {
    margin-bottom: 0;
}

.post-title a {
    text-decoration: none;
    vertical-align: text-top;
}

.post-info {
    line-height: 1em;
}

article {
    margin-top: 25px;
}

article blockquote,
article ol,
article ul {
    padding-left: 15px;
}

article img {
    height: auto;
    max-width: 100%;
}

article pre {
    background: #0a0d17;
    color: #b5e853;
    font-size: 0.8em;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    /* Prevent padding making div bigger. */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article ul li {
    list-style-type: square;
}

/*
    ARTICLE MOBILE
*/

@media (max-width:1024px) {
    article pre {
        font-size: 0.7em;
    }
}

/*
    ARTICLE AND SIDEBAR FORMS
*/

#content-0 form p {
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono', 'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
}

#content-0 input[type="radio"],
#content-0 input[type="checkbox"] {
    background: none;
    vertical-align: middle;
}

#content-0 input {
    background: #fff;
    border: none;
    border-radius: 0;
    height: 1.6em;
    margin-bottom: 3px;
    position: relative;
    vertical-align: text-top;
}

#content-0 input[type="submit"] {
    background: #b3b3b3;
    font-size: 1.2em;
    height: 22px;
    text-align: center;
    width: 20%;
}

#content-0 input[type="submit"]:hover {
    background: #b3b3b3;
}

#content-0 input[type="text"],
#content-0 input[type="password"] {
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono', 'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
    font-size: 0.96em;
    height: 30px;
    padding: 0 0 0 6px;
    width: 150px; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#content-0 textarea {
    margin-bottom: 5px;
    padding: 0 0 0 6px;
    width: 100%;
}

/*
    WEBSITE SEARCH
    Site-wide search in the sidebar.
*/

#sidebar-search {
    overflow: auto;
}

#sidebar-search input[name="search-input"] {
    border: none;
    font-size: 0.96em;
    height: 35px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 0 6px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#sidebar-search input[id="search-submit"] {
    border: none;
    border-radius: 0;
    display: block;
    float: right;
    height: 25px;
    margin-top: -30.5px;
    margin-right: 6px;
    position: relative;
    width: 25px;
    text-align: center;
    /* THIS. IS. SPARTA. */
    z-index: 300;
}

#sidebar-search input[id="search-submit"]:hover {
    background: #b3b3b3;
}

/* Removes corner rounding in iOS. */
#sidebar-search input, 
#sidebar-search textarea {
    border-radius: 0;
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono', 'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace; 
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

/*
    INTRA-SITE NAVIGATION
*/

#site-nav {
    margin: 0 auto;
    margin-left: auto;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 110px;   
}

#site-nav a {
    display: block;
    height: 100%;
    text-decoration: none;
}

#site-nav a:hover {
    color: #000;
}

#site-nav p {
    font-family: 'Classic Console', 'Source Code Pro', 'Courier New', Courier, monospace;
    font-size: 3em;
    height: 50px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    width: 50px;
}

#site-nav p:hover {
    background: #fff;
}

#site-nav-interior {
    margin: 0 auto;
    overflow: auto;
}

#site-nav-left {
    float: left;
}

#site-nav-right {
    float: right;
}

/*
    SITE FOOTER
*/

footer {
    background: #232529;
    clear: both;
    margin: 0 auto;
    width: 80%;
}

footer p {
    font-family: 'Source Code Pro', Consolas, 'Bitstream Vera Sans Mono', 'Andale Mono', Monaco, 'DejaVu Sans Mono', 'Lucida Console', monospace;
    font-size: 0.75em;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    text-align: center;
}

@media (max-width:1024px) {
    footer {
        width: 75%;
    }

    footer p {
        font-size: 0.5em;
        height: 15px;
        line-height: 15px;
        padding-bottom: 10px;
    }
}
