.gallery {
    margin: 0 auto;
    width: 99%;
}

.row {
    overflow: hidden;
}

.row img {
/*    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
*/    float: left;
    height: 100px;
    /*padding: 3px;*/
    width: auto;
}
/*
.row img:last-child {
    padding-right: 0;
}
*/