/* 
 * If you change variable 'customClass' in gallery.js, please change
 * 'funcan' to whatever to match. Leave the rest as-is. :)
 * 
 * font-family is set on line 672 of style.css. 
 */

/*
    GALLERY
*/

.funcan-gallery {
    margin: 0 auto;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 99%;
}

.funcan-gallery a {
    margin: 0;
    padding: 0;
}

/* 
 * Image is hidden until processed.
 */

.funcan-gallery img { display: none; }

/* 
 * Every image and row should be separated by a total of 6px.
 * 6px at the bottom of each row, and 
 * 3px to the left and right of each image.
 */

.funcan-row {
    margin-bottom: 6px;
    overflow: auto;
}

.funcan-row img,
.funcan-row a > img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 100px;
    padding: 0 3px 0 3px;
    width: auto;
}

/* 
 * For older versions of IE. I had problem clearing row floats with 'overflow: auto'.
 */

.funcan-row:after { clear: both; }

/* 
 * I remove padding on first and last elements in order to make the gallery rows better fit the available space.
 * Look at 'orderRowImages' in gallery.js for more information. 
 */
 
.funcan-row:first-child { padding-left: 0; }
.funcan-row:last-child { padding-right: 0; }

/*
    GLOBAL POSITIONING
*/

/* 
 * The lightlightbox should be appended to the <body> element, and every element
 * inside of lightlightbox given a fixed position and dimensions
 * (100% x 100%) of the screen size. Width is set via CSS, height via JS. 
 */

.funcan-lightbox,
.funcan-lightbox-close,
.funcan-lightbox-nav,
.funcan-lightbox-txt {
    position: fixed;
}

.funcan-lightbox a,
.funcan-lightbox p {
    color: #fff;
    text-decoration: none;
}

/*
    LIGHTBOX
*/

.funcan-lightbox {
    background: #111215;
    background: rgba(17,18,21,0.95);
    display: none;
    left: 0;
    overflow: auto;
    top: 0;
    width: 100%;
}

.funcan-lightbox a:focus { outline: 0; }
.funcan-lightbox img { margin: 0 auto; }

.funcan-lightbox a,
.funcan-lightbox p {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Classic Console', 'Source Code Pro', 'Courier New', Courier, monospace, sans-serif;
}

/*
 * Close Lightbox
 */

.funcan-lightbox-close {
    height: 60px;
    top: 0;
    width: 60px;
    z-index: 5;
}

/*.funcan-lightbox-close a,
.funcan-lightbox-close a:hover {
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out; 
    -o-transition: opacity .15s ease-in-out; 
}
*/
/*
 * Button should be in the top-right corner with equal top/right padding.
 */

.funcan-lightbox-close a {
    display: block;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.funcan-lightbox-close a,
.funcan-lightbox-close a:hover {
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out; 
    -o-transition: opacity .15s ease-in-out; 
}

.funcan-lightbox-close a { opacity: 0.1; }
.funcan-lightbox-close a:hover { opacity: 0.6; }

/*
 * Navigation Bars
 */

.funcan-lightbox-nav {
    height: 100%;
    overflow: auto;
    width: 100%;
}

.funcan-lightbox-nav a,
.funcan-lightbox-nav a:hover {
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out; 
    -o-transition: opacity .15s ease-in-out; 
}

.funcan-lightbox-nav a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    font-size: 80px;
    height: 100%;
    padding: 10px;
    vertical-align: middle;
    width:100%;
}

.funcan-lightbox-nav a {
    opacity: 0.1;
}

@media screen and (orientation: portrait) {
    .funcan-lightbox-nav a { opacity: 0.6; }
}

@media screen and (orientation: landscape) {
    .funcan-lightbox-nav a:hover { opacity: 0.5; }
    .funcan-lightbox-nav a:active { opacity: 0.99; }
}

.funcan-lightbox-nav-left,
.funcan-lightbox-nav-right {
    display: table;
    height: 100%;
    width: 50%;
}

.funcan-lightbox-nav-left { float: left; }
.funcan-lightbox-nav-right { float: right; }
.funcan-lightbox-nav-left a { text-align: left; }
.funcan-lightbox-nav-right a { text-align: right; }

/*
 * Image Caption
 * There is a serious bug in the latest version of Chrome that, in the precise
 * circumstancs that arises in the lightbox, causes the paragraph font to not 
 * render, unless the paragraph is forcibly refreshed.
 *  
 * The bug is /only/ present in the latest (April 2014) versions of Chrome. See
 * https://code.google.com/p/chromium/issues/detail?id=336476 for more info.
 * Disabled until a bug is fixed in Chrome 
 */

.funcan-lightbox-txt {
    background: rgba(35,37,41,0.4);
    display: none;
    height: 10%;
    width: 100%;
}

.funcan-lightbox-txt p {
    font-size: 20px;
    height: 100%;
    text-align: center;
}

.funcan-lightbox-txt-left,
.funcan-lightbox-txt-right {
    width: 50%;
}

.funcan-lightbox-txt-left { float: left; }
.funcan-lightbox-txt-right { float: right; }
