/*
    GALLERY
*/

/* If you change variable 'cusName' in gallery.js, please change 'uber' to whatever to match.
Leave the rest as-is. :) */

.uber-gallery {
    margin: 0 auto;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 99%;
}

.uber-gallery a {
    margin: 0;
    padding: 0;
}

/* Every image and row should be separated by a total of 6px. 6px at the bottom of each row, and 
3px to the left and right of each image. */

.uber-row {
    margin-bottom: 6px;
    overflow: auto;
}

.uber-row img,
.uber-row a > img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 100px;
    padding: 0 3px 0 3px;
    width: auto;
}

.uber-row:after {
    /* For older versions of IE. I had problem clearing row floats with 'overflow: auto'. */
    clear: both;
}

/* I remove padding on first and last elements in order to make the gallery rows better fit the available space.
Look at  'orderRowImages' in gallery.js for more information. */
.uber-row:first-child {
    padding-left: 0;
}

.uber-row:last-child {
    padding-right: 0;
}

/*
    LIGHTBOX
*/

/* The lightbox should be pinned to the <body> element, and every element inside of lightbox given a fixed position and dimensions
(100% x 100%) of the screen size. Width is set via CSS, height via JS. */

.uber-box,
.uber-box-close,
.uber-box-nav,
.uber-box-txt {
    position: fixed;
}

.uber-box {
    left: 0;
    overflow: auto;
    top: 0;
    width: 100%;
}

.uber-box-img {
    margin: 0 auto;
}

.uber-box {
    background: rgba(255,255,255,0.3);
    display: none;
}
.uber-box-txt {
    background: rgba(255,0,100,0.3);
    height: 15%;
    width: 100%;
}

.uber-box-nav {
    height: 85%;
    overflow: auto;
    width: 100%;
}

.uber-box-nav-left,
.uber-box-nav-right {
    height: 100%;
    width: 12%;
}

.uber-box-nav-left:hover,
.uber-box-nav-right:hover {
    background: rgba(0,255,100,1);
}

.uber-box-nav-left {
    float: left; 
}

.uber-box-nav-right {
    float: right;
}

.uber-box-close {
    background: rgba(255,255,255,1);
    height: 40px;
    top: 0;
    width: 40px; 
    z-index: 5;
}
