/*
    LIGHTBOX
*/

.uber-lightbox {
    display: none;
    background: rgba(17,18,21,0.8);
    background: rgba(255,255,255,0.4);
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.uber-lightbox-blurb {
    position: relative;
}

.uber-lightbox-blurb {
    height: 9%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.uber-lightbox img {
    border: 1px solid #000;
    max-height: 90%;
    overflow: auto;
    width: auto;
}

.uber-lightbox p {
    background: #000;
    color: #fff;
}

.uber-lightbox-nav {
    display: table;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
}

.uber-lightbox-nav-left,
.uber-lightbox-nav-right {
    display: table-cell;
    height: 100%;
    width: 50%;
}

.uber-lightbox-nav-left {
    float: left;
    text-align: left;
}

.uber-lightbox-nav-right {
    float: right;
    text-align: right;
}

.uber-lightbox-nav-left:hover,
.uber-lightbox-nav-right:hover {
    background: rgba(17,18,21,0.1);
}

.uber-lightbox-nav a {
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
}
